<a href="https://colab.research.google.com/github/Paurnami256/LEARN.PY/blob/main/TASK_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given index=["India","Pakistan","Bangladesh","Srilanka","china","Nepal"] and data=[1,3,5,np.nan,6,8] . Create a table with the "index" as indices and data as values.

      Expected output

        India         1.0
        Pakistan      3.0
        Bangladesh    5.0
        Srilanka      NaN
        China         6.0
        Nepal         8.0
        Name: myseries, dtype: float64

In [ ]:
#please type your answer below this line.
import numpy as np
import pandas as pd
index = np.array(["India","Pakistan","Bangladesh","Srilanka","China","Nepal"])
data = np.array([1,3,5,np.nan,6,8])
table = pd.Series(data,index)
print(table)

2. Create a data 'dates' starting from 2021-01-01 with range 6. and create a random 6x4 array and a list=('ABCD').now create a dataframe with 'dates' as index and list as the column and data as the datas of this table.


  Expected output

                        A	       B	      C	      D
    2021-01-01	-0.429358	0.779826	0.389625	0.248792
    2021-01-02	-1.044721	0.272807	-0.370437	1.177273
    2021-01-03	-0.961394	-0.525376	0.120843	0.470060
    2021-01-04	1.842266	-0.551049	0.588390	-0.326937
    2021-01-05	0.986198	0.391301	-0.084837	-0.855573
    2021-01-06	-1.531207	0.905463	-0.099024	0.589219

In [ ]:
#please type 
import numpy as np
import pandas as pd
data = np.array(['2021-01-01', '2021-01-02', '2021-01-03','2021-01-04', '2021-01-05', '2021-01-06'], dtype='datetime64')
a = np.random.rand(6,4)
l = ['A','B','C','D']
df = pd.DataFrame(data = a, 
                  index = data, 
                  columns = l)
print(df)